In [1]:
import re

In [8]:
chat1 = 'codebasics: you ask a lot of questions 1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc_82@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

Phone No. Extraction

In [14]:
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern,chat2)
matches

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
D:\Temp\ipykernel_4376\2357227253.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'

['(123)-567-8912']

Email Extraction

In [16]:
pattern = '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'
matches = re.findall(pattern,chat1)
matches

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
D:\Temp\ipykernel_4376\227746760.py:1: SyntaxWarning: invalid escape sequence '\.'
  pattern = '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'

['abc@xyz.com']

Information Extraction

In [46]:
text = '''Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 68)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Occupation	Businessman
Years active	1981–present
Organization	Reliance Industries
Title	Chairman and MD of Reliance Industries
Spouse	Nita Ambani ​(m. 1985)​[3]
Children	3
Parents	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)'''

In [20]:
pattern = 'age (\d+)'
matches = re.findall(pattern,text)
matches

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
D:\Temp\ipykernel_4376\988159415.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'age (\d+)'

['54']

In [24]:
pattern = 'Born(.*)'
matches = re.findall(pattern,text)
matches[0].strip()

'Elon Reeve Musk'

In [41]:
pattern = 'Born.*\n(.*)\(age'
matches = re.findall(pattern,text)
matches[0]

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
D:\Temp\ipykernel_4376\1051777752.py:1: SyntaxWarning: invalid escape sequence '\('
  pattern = 'Born.*\n(.*)\(age'

'June 28, 1971 '

In [32]:
def get_pattern_match(pattern , text):
    matches = re.findall(pattern , text)
    if matches: return matches[0]

In [33]:
get_pattern_match('Born(.*)\n(.*)\(age',text)

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
D:\Temp\ipykernel_4376\1231267752.py:1: SyntaxWarning: invalid escape sequence '\('
  get_pattern_match('Born(.*)\n(.*)\(age',text)

('\tElon Reeve Musk', 'June 28, 1971 ')

In [34]:
get_pattern_match('age.*\n(.*)',text)

'Pretoria, South Africa'

In [44]:
def get_personal_info(text):
    age = get_pattern_match('age (\d+)',text)
    full_name = get_pattern_match('Born(.*)',text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age',text)
    birth_place = get_pattern_match('age.*\n(.*)',text)

    return{
        'Age':int(age),
        'Name':full_name.strip(),
        'Date of Birth':birth_date.strip(),
        'Birth_Place':birth_place.strip()
    }

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
D:\Temp\ipykernel_4376\3141924832.py:2: SyntaxWarning: invalid escape sequence '\d'
  age = get_pattern_match('age (\d+)',text)
D:\Temp\ipykernel_4376\3141924832.py:4: SyntaxWarning: invalid escape sequence '\('
  birth_date = get_pattern_match('Born.*\n(.*)\(age',text)

In [47]:
get_personal_info(text)

{'Age': 68,
 'Name': 'Mukesh Dhirubhai Ambani',
 'Date of Birth': '19 April 1957',
 'Birth_Place': 'Aden, Colony of Aden'}

Exercise

In [48]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = 'https://twitter.com/[a-zA-Z0-9_]*'

matches = re.findall(pattern, text)
matches

['https://twitter.com/elonmusk',
 'https://twitter.com/teslarati',
 'https://twitter.com/dummy_tesla',
 'https://twitter.com/dummy_2_tesla']

In [50]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = 'Concentration of Risk: ([^\n]*)' # todo: type your regex here

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

In [51]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))' # todo: type your regex here
matches = re.findall(pattern, text)
matches

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
D:\Temp\ipykernel_4376\3595696459.py:6: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))' # todo: type your regex here

['2021 Q1', '2021 S1']