In [1]:
import spacy

nlp = spacy.load("en_core_web_sm")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [31]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")

for ent in doc.ents:
    print(ent.text," | ",ent.label_," | ",spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit
India  |  GPE  |  Countries, cities, states

In [12]:
from spacy import displacy

displacy.render(doc , style="ent")

In [14]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [15]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PERSON
$45 billion  |  MONEY

In [30]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion ")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", ent.start_char, "|", ent.end_char)

Tesla  |  ORG  |  0 | 5
Twitter  |  PERSON  |  26 | 33
$45 billion  |  MONEY  |  38 | 49
UK  |  GPE  |  50 | 52
India  |  GPE  |  53 | 58

In [24]:
s = doc[2:5]
s

going to acquire

In [25]:
type(s)

spacy.tokens.span.Span

In [26]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [27]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

Exercise

In [34]:
text = """ Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

entities = []
for ent in doc.ents:
    if ent.label_ == "GPE":
        entities.append(ent.text)

print(entities) 
print("count: ",len(entities))

['Kiran', 'India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Assam', 'Bihar']
count:  8

In [35]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

entities = []
for ent in doc.ents:
    if ent.label_ == "DATE":
        entities.append(ent.text)

print(entities) 
print("count: ",len(entities))

['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']
count:  4